section .container {
    justify-content: center;
    align-items: ;
}

section .container .list ul li {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 1.5em;
}

section .container .list ul li i {
    padding-right: 1.3rem;
    color: #D6000D;
}

#table {
    margin-bottom: 20px;
}

#form {
    margin-top: 0;
}

section .container .contact p {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 1rem;
}

section .container .form {
    display: flex;
}

section .container .form form input {
    background-color: #DCDCDC;
    padding: 15px 30px;
    margin-right: 1.7em;
    border-radius: 10px;
    font-size: 1em;
}

section .container .form .button {
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: 250ms;
}


section .container .form .button:hover {
    font-size: 1.1em;
}

@media (max-width: 768px) {
    #table {
        display: flex;
        flex-direction: column-reverse;
    }

    section .container .codar {
        width: 100%;
    }

    section .container .list ul li {
        font-size: 1.9em;
        font-weight: 600;
        margin-top: 2.3em;
        margin-bottom: 1.8em;
    }

    section .container .contact {
        font-size: 1.5em;
    }

    section .container .form {
        flex-direction: column;
        align-items: center
    }

    section .container .form form {
        margin-bottom: 0.8em;
    }

    section .container .form form input {
        margin-right: 0;
        padding: 1em 1.5em;
        font-size: 1.3em;
        width: 100%;
    }

    section .container .form button {

        padding: 1.5em 4.6em;
        font-size: 1.7em;
    }
}